<form>
  Distance in meters:
  <input type="number" [(ngModel)]="distance" name="distance" />
  <br />
  Time in minutes: <input type="number" [(ngModel)]="time" name="time" />
  <button (click)="save()">Save</button>
</form>
<br />
<table>
  <tr>
    <th>Date</th>
    <th>Exercise</th>
    <th>Group</th>
    <th>Distance</th>
    <th>Time</th>
    <th>Average speed</th>
  </tr>
  <tr *ngFor="let exercise of exercises$ | async">
    <td>{{ exercise.createdAt | date }}</td>
    <td>{{ exercise.exerciseType }}</td>
    <td>{{ exercise.exerciseGroupType }}</td>
    <td>{{ exercise.distance }}</td>
    <td>{{ exercise.time }} minutes</td>
    <td>{{ exercise.averageSpeed | kmHour | number : "1.2-2" }} km/h</td>
  </tr>
</table>
